@-webkit-keyframes animate_heartbeet {
0% { -webkit-transform: scale(1, 1); }
20% { -webkit-transform: scale(1, 1); }
30% { -webkit-transform: scale(0.97, 0.97); }
40% { -webkit-transform: scale(1, 1); }
50% { -webkit-transform: scale(1.1, 1.1); }
60% { -webkit-transform: scale(0.97, 0.97); }
70% { -webkit-transform: scale(1.1, 1.1); }
100% { -webkit-transform: scale(1, 1); }
}

@-webkit-keyframes animate_roleing {
0% { -webkit-transform: rotate(1deg); }
50% { -webkit-transform: rotate(180deg); }
100% { -webkit-transform: rotate(360deg); }
}

.roling {
	-webkit-animation-name: animate_roleing;
	-webkit-animation-duration: 10s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.heartbeet {
	-webkit-animation-name: animate_heartbeet;
	-webkit-animation-duration: 2s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding:0;
	padding-top: 1.5em;
	overflow: hidden;
	font-family:Helvetica;
	background-color: #808080;
	/*background-image: url(../img/prim.PNG);*/
}

.menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1em;
	padding:0.5em;
	background-color: #FF4235;
	color:#FFFFFF;
	font-size: 1.5em;
	box-shadow: 0px 2px 5px black;
}

.face {
	position: absolute;
	top: 9em;
	left: 0;
	right: 0;
	text-align: center;
}

.face i{
	position: absolute;
	top: -0.3em;
	left: 0;
	right: 0;
	font-size: 12em;
	opacity: 0.6;
	color: #ff4235;
}

.face img {
	max-height: 5em;
}

.joystick {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	text-align: center;
	height: 10em;
	/*border: 1px solid black;*/
	display: none;
	background-color: #FF4235;
	box-shadow: 0px 2px 5px black;
	overflow: hidden;
}


.joysick-dot {
	/*position: absolute;*/
	margin-bottom: 4em;
	/*border: 1px solid black;*/
}

.joysick-location {
	display:none;
	position: absolute;
	bottom: 0;
	font-size: 1em;
	width: 100%;
}

.device-list {
	display:none;
	position: absolute;
	bottom: 2em;
	left: 0;
	right: 0;
	top: 5em;
	background-color: pink;
	border: 1px solid black;
	padding: 1em;
}

.device-list ul {
	list-style-type: none;
	font-size: 1.4em;
	padding: 1em;
}

.device-list li {
	background-color: #ff4235;
	padding: 0.5em;
	margin: 0.5em;
	box-shadow: 0px 2px 5px black;
}

.log {
	margin-top:2em;
	overflow:auto;
	background-color: pink;
}

.settings{
	display:none;
	position: absolute;
	background-color:#FFFFFF;
	top:3.5em;
	bottom:0;
	left:0;
	right:0;
}

.settings ul{
	list-style-type: none;
	padding: 0.5em;
}

.checkbox{
	margin-bottom:1.4em;
}

.checkbox i.fa-toggle-on,i.fa-toggle-off{
	float:right;
	font-size: 1.6em;
}

.input input{
	float:right;
	width:6em;
	height:1em;
	font-size: 0.9em;
}

.extra{
	border: dashed 1px gray;
	margin-top: 1em;
}
.input{
	height: 1.5em;
}

